body {
    background: url("../media/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid {
    display: table;
    border-collapse: collapse;
}

.grid .grid-row {
    display: table-row;
}

.grid .grid-cell {
    display: table-cell;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

.grid .grid-cell.can-move {
    background-color: #080808;
}

}
.grid .grid-cell:hover {
    background-color: #56faf8;
}

.grid .grid-cell.blocker {
    background-color: #d3d3d3;
}

.grid .grid-cell.can-move {
    background-color: #080808;
}

.grid .grid-cell.blue-color {
    background-color: #00b3ee;
}

.grid .grid-cell.ball {
    background-color: #080808;
}

.grid .grid-cell.ball-color {
    background-color: #00b3ee;
}

.grid .grid-cell .white-ball {
    width: 40px;
    height: 40px;
    margin: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
}

.grid .grid-cell.ball-color .white-ball {
    background-color: #59eeee;
}


@-webkit-keyframes change {
    0%   {top:100px;}
    50%  {top:150px;}
    100% {top:200px;}
}

@keyframes change {
    0%   {top:60px;}
    50%  {top:180px;}
    100% {top:60px;}
}
.content {
    background: url("../media/images/GameName.png") no-repeat;
    width: 100%;
    height: 100px;
    top: 100px;
    position: absolute;
    animation: 20s linear 0s normal none infinite change;
    -webkit-animation: 2s linear 0s normal none infinite change;
    -moz-animation: 2s linear 0s normal none infinite change;
    -o-animation: 2s linear 0s normal none infinite change;
}
.footer-content {
    font-size: 24px;
    color: #fff;
}
.result {
    display: inline-block;
}